:root {
  /* Cyan */
  --cyan-300: #8FE3F9;
  --cyan-600: #4D96A9;

  /* Purple */
  --purple-300: #D9B8FF;
  --purple-600: #855FB1;

  /* Slate */
  --slate-300: #D1D1DF;
  --slate-600: #87879D;
  --slate-900: #28283D;

  /* White */
  --white: #FAFAFA;
}

/*       size / L-height / L-spacing / weight

Text preset 1 4rem     / 110% / 0px / 900
Text preset 2 2.5rem   / 110% / 0px / 900
Text preset 3 1rem     / 110% / 4px / 900
Text preset 4 1.125rem / 110% / 0px / 500
Text preset 5 1rem     / 150% / 0px / 900
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  background-color: var(--white);
  color: var(--slate-900);
}

.page {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.hero__content,
.features__content,
.footer__content {
  width: min(100% - 2rem, 33.75rem);
  margin-inline: auto;
}

/* Section 1 */

/* Logo */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 4rem;
}

/* All users image */

#all-users {
  display: block;
  width: 100%;
  transform: scale(1.14);
}

#users-left,
#users-right {
  display: none;
}

/* All text information */
.hero {
  margin-bottom: 3rem;
}

.hero__content,
.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  margin-top: 3rem;
}

.hero__text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--slate-600);
  padding: 1.5rem 0;
}

/* Buttons */

.btn {
  display: block;
  border: none;
  padding: 16px 40px;
  border-radius: 29px;
  font-weight: 900;
  line-height: 150%;
  color: var(--white);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

/* Download Button */

.download-btn {
  background-color: var(--cyan-600);
}

.version {
  color: var(--cyan-300);
}

.download-btn:hover {
  background-color: #71C0D4;
}

/* Info Button */

.secondary-btn {
  background-color: var(--purple-600);
  margin-top: 1rem;
}

.secondary-btn:hover {
  background-color: #B18BDD;
}

/* Download Button Footer  */

.download-btn-purple {
  background-color: var(--purple-600);
}

.download-btn-purple span {
  color: var(--purple-300);
}

.download-btn-purple:hover {
  background-color: #B18BDD;
}

/* Decorative Divider  */

.divider {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}

.divider__line {
  width: 1px;
  height: 80px;
  background-color: var(--slate-300);
}

.divider__circle {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--slate-300);
  border-radius: 50%;
  background-color: var(--white);
}

.divider__circle span {
    color: var(--slate-600);
    font-weight: 900;
    line-height: 1;
}

#divider-footer {
  position: relative;
  z-index: 2;
  margin-bottom: -28px;
  padding-bottom: 0;
}

 /* Features & Gallery Section  */


.features {
  margin-bottom: 4rem;
  padding: 32px 32px;
}

.features__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.features__img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 16px;
}

/* Features Content  */

.features__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
}


.features__subtitle {
  line-height: 110%;
  letter-spacing: 4px;
  font-weight: 900;
  color: var(--cyan-600);
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.features__title {
  font-size: 2.2rem;
  line-height: 110%;
  font-weight: 900;
  color: var(--slate-900);
  padding-bottom: 32px;
  text-align: center;
}


.features__text {
  line-height: 150%;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  color: var(--slate-600);
}

/* Footer */

.footer {
  background-image:
    linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)),
    url("./assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 64px 32px;
  color: var(--white);
  text-align: center;
}

.footer__title {
  font-size: 2.2rem;
  line-height: 110%;
  font-weight: 900;
}

.footer__text {
  line-height: 150%;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1.5rem 0;
}



/* Meqia Query <1024px */

/*
@media (min-width: 1024px) {
  #users-left,
  #users-right {
    display: block;
  }

  #all-users {
    display: none;
  }
}